<!--
 * @Description: gun - layout布局
 * @Author: LXG
 * @Date: 2020-05-09
 * @LastEditTime: 2020-05-21
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- theme.title %> </title>
    <!-- 引入normalize -->
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <!-- 引入css -->
    <%- css("css/main.css") %>
</head>

<body>
    <div id="wrap-container">
        <!-- 引入header -->
        <header>
            <%- include("header.ejs") %>
        </header>

        <!-- hexo api，body(引入index.ejs && post.ejs) -->
        <main>
            <%- body %>
        </main>
    </div>

    <!-- 引入jQuery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 引入js -->
    <%- js("js/main.js") %>
</body>

</html>